{{>header}}

<section class="productsContainer" style="gap: 2rem;">
  {{#if noProducts}}
    <h1 class="titleProfile">Cart Empty</h1>
  {{else}}
    <h1 class="titleProfile">Cart detail</h1>
    <table id="productos" class="form">
      <tr>
        <th style="background-color: #333;">Id</th>
        <th style="background-color: #333;">Title</th>
        <th style="background-color: #333;">Description</th>
        <th style="background-color: #333;">Code</th>
        <th style="background-color: #333;">Price</th>
        <th style="background-color: #333;">Category</th>
        <th style="background-color: #333;">Quantity</th>
      </tr>

      {{#each productsInCart}}
        <tr>
          <td style="background-color: #333;">{{this.product._id}}</td>
          <td style="background-color: #333;">{{this.product.title}}</td>
          <td style="background-color: #333;">{{this.product.description}}</td>
          <td style="background-color: #333;">{{this.product.code}}</td>
          <td style="background-color: #333;">{{this.product.price}}</td>
          <td style="background-color: #333;">{{this.product.category}}</td>
          <td style="background-color: #333;">{{this.quantity}}</td>
        </tr>
      {{/each}}
    </table>
    <div class="totals">
      <p><span class="bold">Total Quantity: </span>{{totalQuantity}}u</p>
      <p><span class="bold">Total Price: </span>${{totalPrice}}</p>
    </div>

    <div class="buttonsCart">
      <button
        id="deleteCartButton"
        data-cart-id="{{user.cart}}"
        class="button redButton submitDelete"
      >DELETE</button>
      <button
        class="button greenButton submitUpdate"
        id="checkoutButton"
        data-cart-id="{{user.cart}}"
      >CHECKOUT</button>
    </div>
  {{/if}}
</section>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/products-cart/cart.js"></script>