{{>header}}

<section class="productsContainer">
    {{#if noProducts}}
    <p>No hay productos disponibles</p>
    {{else}}
    <div class="container">
    {{#each products}}
    <div id="productos" class="cardProduct">
        <a href="products/{{this._id}}" style="list-style: none; text-decoration: none;">
        <div class="card-img">
            {{#each this.thumbnails}}
        <img src="{{this}}" alt="Thumbnail">
      {{/each}}
        </div>
        <div class="card-info">
          <p class="text-title">{{this.title}}</p>
          <p class="text-body">{{this.description}}</p>
        </div>
        <div class="card-footer">
        <span class="text-title">{{this.price}}</span>
    </a>
    {{#if this.stock}}
        <button class="button greenButton addToCartButton card-button" data-user-id="{{../user.userId}}" data-cart-id="{{../user.cart}}"
                        data-product-id="{{this._id}}">Add
                        to
                        Cart</button>
                        {{else}}
                        <p class="text-body">Not Available</p>
        {{/if}}
      </div></div>
    
      {{/each}}
    </div>

      {{/if}}
    <article class="pagination" style="margin-bottom: 2rem;">
        {{#if productsData.hasPrevPage}}
            <a href="{{generatePaginationLink productsData.prevPage}}" class="bold">Prev Page</a>
            {{/if}}
        <p>Page {{productsData.page}} of {{productsData.totalPages}}</p>
            
            {{#if productsData.hasNextPage}}
            <a href="{{generatePaginationLink productsData.nextPage}}" class="bold">Next Page</a>
            {{/if}}
    </article>
</section>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/products-cart/product.js"></script>