{{> header}}
<section class="productDetailContainer">
    <h1 class="titleProfile">Product Detail</h1>
    <article class="form" style="width: 25%;">
        <h3 class="textDetail">{{product.title}}</h3>
        <p class="textDetail"><span class="textDetail">Id: </span>{{product._id}}</p>
        <p class="textDetail"><span class="textDetail">Description: </span>{{product.description}}</p>
        <p class="textDetail"><span class="textDetail">Code: </span>{{product.code}}</p>
        <p class="textDetail"><span class="textDetail">Price: </span>${{product.price}}</p>
        <p class="textDetail"><span class="textDetail">Stock: </span>{{product.stock}}</p>
        <p class="textDetail"><span class="textDetail">Category: </span>{{product.category}}</p>
        <p class="textDetail"><span class="textDetail">Status: </span>
            {{#if product.stock}}
            Available </p>
        <button class="button greenButton addToCartButton submitUpdate" data-user-id="{{user.userId}}" data-cart-id="{{user.cart}}"
            data-product-id="{{product._id}}">Add
            to
            Cart</button>
        {{else}}
        Not Available
        </p>
        {{/if}}
    </article>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products-cart/product.detail.js"></script>