{{>header}}
<section style="display: flex; justify-content: space-around; align-items: flex-start;
height: 92vh; padding-top: 5rem;">


<form id="add-product-form" class="form" enctype="multipart/form-data">
  <legend style="background-color: transparent;">Add Product</legend>

  <label for="title">
    <input
      class="input"
      type="text"
      name="title"
      id="title"
      placeholder=""
      required
    />
    <span>Title</span>
  </label>

  <label for="description">
    <textarea
      class="input"
      name="description"
      id="description
      placeholder=""
      required
    ></textarea>
    <span>Description</span>
  </label>

  <label for="code">
    <input
      class="input"
      type="text"
      name="code"
      id="code"
      placeholder=""
      required
    />
    <span>Code</span>
  </label>

  
  <label for="price">
    <input
      class="input"
      type="text"
      name="price"
      id="price"
      placeholder=""
      pattern="\d+(\.\d{1,2})?" title="Ingrese un número válido"
      required
    />
    <span>Price</span>
  </label>
  <div >
    <p style="background-color: #333;">Status:</p>

    <div style="background-color: #333">
      <label for="status-true" style="background-color: transparent;">True </label>
      <input type="radio" id="status-true" name="status" value="true" checked />

      <label for="status-false" class="status-option">False </label>
      <input type="radio" id="status-false" name="status" value="false" />
    </div>
  </div>

  <label for="stock">
    <input
      class="input"
      type="number"
      name="stock"
      id="stock"
      placeholder=""
      required
    />
    <span>Stock</span>
  </label>

  <label for="category">
    <input
      class="input"
      type="text"
      name="category"
      id="category"
      placeholder=""
      required
    />
    <span>Category</span>
  </label>


  <label for="thumbnails">
    <input
      class="input"
      type="file"
      name="thumbnails"
      id="thumbnails"
      multiple
      
    />
    <span>Thumbnails</span>
  </label>

  <input class="submit" type="submit" value="Add Product" id="addProductButton" data-user-id="{{user.userId}}" />
</form>
<section class="productsContainer">
  {{#if noProducts}}
  <p>No hay productos disponibles</p>
  {{else}}
  <table id="productos" class="form table">
    <tr >
      <th style="background-color: #333;">Code</th>
      <th style="background-color: #333;">Title</th>
      <th style="background-color: #333;">Description</th>
      
      <th style="background-color: #333;">Price</th>
      <th style="background-color: #333;">Status</th>
      <th style="background-color: #333;">Stock</th>
      <th style="background-color: #333;">Category</th>
      <th style="background-color: #333;">Edit</th>
      <th style="background-color: #333;">Delete</th>
    </tr>
    {{#each products}}
    <tr id="{{this._id}}" data-user-id="{{../user.userId}}" style="background-color: #333;">
      <td style="background-color: #333;"><input style="background-color: #333; color: white;"  type="text" name="code" value="{{this.code}}" contenteditable="true" /></td>
      <td style="background-color: #333;"><input style="background-color: #333; color: white;" type="text" name="title" value="{{this.title}}" contenteditable="true" /></td>
      <td style="background-color: #333;"><input style="background-color: #333; color: white;" type="text" name="description" value="{{this.description}}" contenteditable="true" /></td>
      <td style="background-color: #333;"><input style="background-color: #333; color: white;" type="number" name="price" value="{{this.price}}" contenteditable="true" /></td>
      <td style="background-color: #333;"><input style="background-color: #333; color: white;" type="text" name="status" value="{{this.status}}" contenteditable="true" /></td>
      <td style="background-color: #333;"><input style="background-color: #333; color: white;" type="number" name="stock" value="{{this.stock}}" contenteditable="true" /></td>
      <td style="background-color: #333;"><input style="background-color: #333; color: white;" type="text" name="category" value="{{this.category}}" contenteditable="true" /></td>
      <td style="background-color: #333;">
        <button class="button blueButton submitUpdate" onclick="updateProduct('{{this._id}}')">Edit</button>
      </td>
      <td style="background-color: #333;">
        <button class="button redButton submitDelete" onclick="deleteProduct('{{this._id}}')">Delete</button>
      </td>
    </tr>
    {{/each}}
  </table>
  <article class="pagination">
    {{#if productsData.hasPrevPage}}
      <a href="{{generatePaginationLink productsData.prevPage}}" class="bold">Prev Page</a>
      {{/if}}
    <p>Page {{productsData.page}} of {{productsData.totalPages}}</p>
      
      {{#if productsData.hasNextPage}}
      <a href="{{generatePaginationLink productsData.nextPage}}" class="bold">Next Page</a>
      {{/if}}
  </article>
  {{/if}}
</section>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products-cart/products.real.js"></script>